@import "@/styles/globals.scss";

.payment-page {
  position: relative;
  padding: 2rem;
  @include flexCenter(row);
  min-height: 100vh;

  &::before {
    @include backgroundImg;
    background-image: url(../../public/assets/img/tropical-wooden-bg.webp);
  }
}
