@import "@/styles/globals.scss";

.similar-products {
  margin-top: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    font-family: fontName("exodar");
    color: color("darkOrange");
  }

  .swiper-container {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: color("white");
    background-color: color("skyBlue");
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.7;
    transition: all 500ms;

    &::after {
      position: absolute;
      top: 11px;
      left: 15px;
      font-size: fontSize("sm");
      font-weight: fontWeight("bold");
    }

    &:hover {
      opacity: 1;
    }
  }
}
