@import "@/styles/globals.scss";

.contact_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include smallDesktops {
    width: 70%;
    padding-left: 5vw;
  }

  h2 {
    margin-bottom: 20px;
    font-family: fontName("galada");
    font-size: fontSize("lg");
    color: color("darkOrange");
    max-width: 80vw;
    margin-inline: auto;
    @include whiteDropShadow;
  }

  .form_group {
    margin-bottom: 1rem;

    input,
    textarea {
      @include boxShadow;
      padding: 0.5rem;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      font-family: "Dosis", sans-serif;
      &_textarea {
        resize: none;
      }
    }

    .button {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: #0056b3;
      }
    }

    .message {
      margin-top: 0.75rem;
      & .message_text {
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
}
