@import "@/styles/globals.scss";

.brand-card {
  display: block;
  position: relative;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  background-color: rgba(color("white"), 0.7);
  border-radius: 1rem;
  padding: 2rem 1rem;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 30vh;
  @include boxShadow;

  &:before {
    content: "";
    @include gradientBackground;
    position: absolute;
    z-index: -1;
    top: -0.5rem;
    right: -0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 99%;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }

  &:hover {
    h3 {
      transition: all 0.3s ease-out;
    }
  }

  &:hover .brand-card__img-container {
    visibility: hidden;
  }

  &:hover .brand-card__title {
    visibility: visible;
  }

  .brand-card__img-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand-card__title {
    text-align: center;
    color: transparent;
    transition: color 0.3s ease-out;
    font-family: fontName("roboto");
    font-size: fontSize("md");
  }

  &:hover .brand-card__title {
    color: color("white");
    @include blackDropShadow;
  }
}
