@import "../../styles/globals.scss";

.latest-articles {
  position: relative;
  overflow: hidden;
  margin-top: -30px;
  padding: 1rem 0.5rem;

  h1 {
    font-family: fontName("galada"), sans-serif;
    color: color("skyBlue");
    margin-inline: 10vw;
    font-size: fontSize("xl");
  }

  .mySwiper {
    padding-block: 2rem;

    .swiper-button-prev,
    .swiper-button-next {
      color: color("white");
      background-color: color("skyBlue");
      padding: 1rem;
      border-radius: 50%;
      height: 0.7rem;
      width: 0.7rem;
      opacity: 0.5;
      transition: all 500ms;

      &::after {
        font-size: fontSize("sm");
        font-weight: fontWeight("bold");
        line-height: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .article-card {
      width: 100%;
      max-width: 300px;
    }
  }
}
