@import "../../styles/globals.scss";

.latest-articles {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;

  .title-container {
    display: flex;
    position: relative;
    margin-top: 5rem;

    @include smallDesktops {
      margin-left: 9vh;
    }

    h1 {
      @include dropShadow;
      position: absolute;
      top: 2rem;
      font-family: fontName("galada"), sans-serif;
      color: color("skyBlue");
      margin-inline: 5vw;
      font-size: fontSize("xl");
      z-index: 20;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
        2px 2px 0 #fff;
    }

    .flamingo-img {
      width: 17rem;
      height: auto;
      position: absolute;
      left: 10vw;
      top: -2rem;
      z-index: 15;
      @include dropShadow;
    }

    .starfish-img {
      position: absolute;
      width: 10rem;
      height: auto;
      left: 0;
      top: -3rem;
      @include dropShadow;

      @include tablet {
        width: 20rem;
        left: unset;
        right: 5vw;
        top: -4.5rem;
        z-index: 15;
      }

      @include smallDesktops {
        width: 25rem;
      }
    }
  }

  .mySwiper {
    padding-block: 2rem;
    margin-top: 10rem;
    padding-inline: 2rem;

    .swiper-button-prev,
    .swiper-button-next {
      color: color("white");
      background-color: color("skyBlue");
      padding: 1rem;
      border-radius: 50%;
      height: 0.7rem;
      width: 0.7rem;
      opacity: 0.5;
      transition: all 500ms;

      &::after {
        font-size: fontSize("sm");
        font-weight: fontWeight("bold");
        line-height: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .article-card {
      width: 100%;
      max-width: 300px;
    }
  }

  .link-container {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;

    @include smallDesktops {
      margin-bottom: 5rem;
      margin-top: 2rem;
    }

    a {
      color: color("purpleBlue");
      font-family: fontName("galada");
      font-size: fontSize("md");

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
