@import "../../styles/globals.scss";

.navbar {
  position: fixed;
  width: 100vw;
  color: white;
  z-index: 100;
  height: 18vh;

  .promotion_banner {
    @include flexCenter(row);
    background-color: color("darkGrey");
    width: 100%;
    padding: 0.5rem;
    z-index: 60;
    font-family: fontName("decalotype"), sans-serif;
  }

  .logo {
    height: 90% !important;
    width: auto !important;
  }

  input[type="checkbox"],
  .hamburger-lines {
    @include flexCenter(row);
    display: none;
  }

  .navbar-container {
    @include flexCenter(row);
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 18vh;
    z-index: 40;

    .menu-items {
      display: flex;
      justify-content: space-around;
      ul {
        position: relative;
        display: flex !important;
        justify-content: space-around;
        list-style: none;
        gap: 1rem;

        li a {
          @include flexCenter(row);
          font-family: fontName("galada"), sans-serif;
          color: color("darkOrange");
          text-decoration: none;
          font-size: fontSize("md");
          font-weight: fontWeight("slim");

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    height: 20vh;

    .navbar-container {
      display: block;
      position: absolute;
      background-color: transparent;
      align-items: center;
      height: 10vh;

      .logo {
        height: 90%;
        width: auto;
      }

      input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 300;
        opacity: 0;
        cursor: pointer;
      }

      .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        .line {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background-color: color("darkGrey");
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.3s ease-in-out;
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.3s ease-in-out;
        }
      }

      .menu-items {
        background: rgba(255, 255, 255, 0.9);
        transform: translate(100%);
        display: flex;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        transition: transform 0.5s ease-in-out;
        overflow-y: hidden;
        text-align: left;

        ul {
          @include flexCenter(column);

          &:last-child {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            align-items: center;
          }

          li a {
            text-decoration: none;
            color: inherit;
            transition: 0.3s ease color;
            cursor: pointer;
            color: color("darkGrey");
          }
        }
      }
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
  }

  &.open {
    .menu-items {
      transform: translate(0%);
    }
  }
}

// styles for the waves animation

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: color("white");
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

/* Keyframes */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
