@import "../../styles/globals.scss";

.navbar {
  height: 10vh;
  position: relative;
  width: 100vw;
  color: color("white");
  z-index: 100;

  @include largeDesktops {
    height: 18vh;

    &:last-child {
      @include flexCenter(row);
      width: 100%;
      gap: 3rem;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 100%;
    width: 30px;
    right: 20px;
    z-index: 300;
    opacity: 0;
    cursor: pointer;

    @include tablet {
      width: 55px;
      right: 40px;
    }
  }

  @include largeDesktops {
    input[type="checkbox"],
    .hamburger-lines {
      display: none;
    }
  }

  .promotion_banner {
    @include flexCenter(row);
    background-color: color("darkGrey");
    width: 100%;
    padding: 0.5rem;
    z-index: 40;
    font-family: fontName("decalotype"), sans-serif;
  }

  .navbar-container {
    display: block;
    position: absolute;
    background-color: transparent;
    align-items: center;
    height: 10vh;
    width: 100vw;

    @include largeDesktops {
      @include flexCenter(row);
      @include boxShadow;
      justify-content: space-evenly;
      position: relative;
      height: 18vh;
      z-index: 40;
    }

    .hamburger-lines {
      display: flex;
      height: 28px;
      width: 35px;
      position: absolute;
      right: 1.5rem;
      z-index: 200;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);

      @include tablet {
        right: 2.8rem;
        height: 38px;
        width: 45px;
      }

      .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: color("darkOrange");
      }

      .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
      }

      .line2 {
        transition: transform 0.2s ease-in-out;
      }

      .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;

        @include tablet {
          transform-origin: -7% 100%;
        }
      }

      @include largeDesktops {
        display: none;
      }
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }

    .logo {
      position: absolute;
      height: 120%;
      top: 70%;
      transform: translateY(-50%);
      left: 0.5rem;
      width: auto;

      @include tablet {
        height: 12rem;
        margin-left: 2%;
        transform: translateY(-40%);
      }

      @include largeDesktops {
        position: relative;
        transform: translateY(10%);
        height: 100%;
        width: 25vw;
      }
    }

    .mobile-top-icons {
      position: absolute;
      top: 50%;
      transform: translateY(-35%);
      right: 16%;
      > a {
        @include brandTextandIconStyle;
        font-size: fontSize("lg");
        margin-right: 1.5rem;

        @include tablet {
          font-size: fontSize("xl");
        }
      }

      @include tablet {
        right: 12%;
      }
    }

    .mobile-topbar {
      display: flex;
      list-style: none;

      li a {
        @include flexCenter(row);
        @include brandTextandIconStyle;
      }
    }

    .menu-items {
      background: rgba(255, 255, 255, 0.9);
      visibility: hidden;
      opacity: 0;
      display: flex;
      height: 100vh;
      flex-direction: column-reverse;
      transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
      overflow: hidden;
      justify-content: flex-end;
      padding-top: 15vh;
      flex: 1;

      @include largeDesktops {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
        opacity: 1;
        background: transparent;
        height: 100%;
        padding-top: 0;
        margin-right: 2rem;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-items: center;
      align-items: center;
      padding-left: 0;
      list-style: none;

      @include tablet {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
      }

      @include largeDesktops {
        position: relative;
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 1rem;
        padding-left: 0;
      }

      &:first-child {
        margin-top: 2rem;

        @include largeDesktops {
          margin-top: 22px !important;
        }

        li:nth-child(even) {
          margin-right: auto;
        }

        li:nth-child(odd) {
          margin-left: auto;
        }
      }

      &:last-child {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 3rem;
        padding-left: 0;

        @include largeDesktops {
          width: auto;
          gap: 1rem;
          align-items: center;
          padding-left: 3rem;
        }
      }

      li a {
        @include flexCenter(row);
        font-family: fontName("galada"), sans-serif;
        text-decoration: none;
        transition: 0.3s ease color;
        cursor: pointer;
        color: color("darkGrey");
        font-size: fontSize("sm");
        font-weight: fontWeight("slim");

        @include tablet {
          font-size: fontSize("md");
        }

        @include largeDesktops {
          color: color("darkOrange");
          font-size: fontSize("sm");

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.open {
    .menu-items {
      visibility: visible;
      opacity: 1;
      transform: translate(0%);
    }
  }
}

// styles for the waves animation

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: color("white");
  pointer-events: none;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

/* Keyframes */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
