@import "@/styles/globals.scss";

.brands {
  position: relative;
  text-align: center;
  padding-block: 2rem;

  h2 {
    margin-bottom: 2.5rem;
    font-family: fontName("exodar");
    font-size: fontSize("lg");
    color: color("darkOrange");
    max-width: 80vw;
    margin-inline: auto;
    @include whiteDropShadow;
  }

  .brand {
    margin: 0 10px;

    .brand__item {
      width: auto;
      height: 7rem;
    }
  }
}
