@import "@/styles/globals.scss";

.shopping-cart {
  position: relative;
  padding: 2rem;
  margin: 0 auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;

  @include smallDesktops {
    padding: 4rem;
  }

  &::before {
    @include backgroundImg;
    background-image: url(../../public/assets/img/tropical-wooden-bg.webp);
  }

  &__title {
    font-size: fontSize("xl");
    margin-bottom: 1rem;
    text-align: center;
    font-family: fontName("exodar");
    color: color("darkOrange");
  }

  p {
    font-size: fontSize("sm");
    margin: 1rem auto;
    font-family: fontName("roboto");
    color: color("darkGrey");
  }

  &__items {
    @include flexCenter(column);
    gap: 1rem;
    list-style: none;
    padding-inline-start: 0;

    .shopping-cart-item {
      display: flex;
      flex-direction: column;
      background-color: rgba(color("white"), 0.7);
      border-radius: 1rem;
      padding: 1rem;
      width: 100%;
      margin: 0 auto;
      align-items: center;

      @include tablet {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
      }

      &__info {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: fontName("roboto");
        font-weight: fontWeight("semibold");

        @include tablet {
          width: 58%;
        }

        &__img {
          object-fit: contain;
          margin-right: 20px;
        }

        &__details {
          display: flex;
          flex-direction: column;
          font-family: fontName("roboto");
          font-weight: fontWeight("semibold");
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-height: 1.2;

          @include tablet {
            margin: 0;
          }
        }
      }
    }

    .price-and-controls {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
      }

      .controls {
        display: flex;
        margin: 1rem 0;
        align-items: center;

        @include tablet {
          margin: 0;
          justify-content: flex-end;
        }

        .cart-controls {
          font-family: fontName("roboto");
          font-weight: fontWeight("bold");
          border: none;
          background-color: transparent;
          font-size: fontSize("lg");
          border-radius: 1rem;
          cursor: pointer;
          @include blackDropShadow;
          color: color("darkOrange");

          &:first-child {
            font-size: fontSize("xxl");
          }
        }

        .quantity {
          margin-inline: 1rem;
          font-size: fontSize("md");
          font-family: fontName("roboto");
          font-weight: fontWeight("bold");
        }
      }

      .price {
        font-size: fontSize("md");
        margin: 1rem;
        font-family: fontName("roboto");
        font-weight: fontWeight("extra");
        text-align: center;
        flex-wrap: nowrap;

        @include tablet {
          text-align: right;
          margin: 0;
        }
      }
    }
  }

  .total-price {
    font-family: fontName("roboto");
    font-weight: fontWeight("bold");
    margin: 2rem auto;
    color: color("darkOrange");

    @include tablet {
      text-align: right;
      margin: 2rem 1rem;
    }

    span {
      font-family: fontName("exodar");
    }
  }
}
