@import "@/styles/globals.scss";

.products-container {
  width: 100%;
  min-height: 80vh;
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;

  &::before {
    @include backgroundImg;
    background-image: url(../../public/assets/img/palms-bg.webp);
  }

  h1 {
    @include blackDropShadow;
    @include blueOceanTitle;
    margin-bottom: 2rem;
  }

  .products-grid {
    @include responsiveGridSystem;
    text-align: center;
  }

  .pagination {
    margin: 2rem;

    button {
      font-size: fontSize("md");
      font-weight: fontWeight("light");
      font-family: fontName("roboto");
      color: color("darkOrange");
      border: none;
      background-color: transparent;
      cursor: pointer;

      &.active {
        font-weight: fontWeight("bold");
        text-decoration: underline;
      }
    }
  }

  .add-product-card {
    @include flexCenter(column);
    position: relative;
    @include boxShadow;
    border-radius: 1rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 0 auto;
    background-color: color("white");
    cursor: pointer;
    width: 80vw;
    height: 450px;

    @include tablet {
      width: 40vw;
    }

    @include smallDesktops {
      width: 21vw;
    }

    &:hover {
      background-color: #e0e0e0;
    }
  }

  .add-product-card__plus {
    font-size: 3rem;
    color: color("skyBlue");
  }
}
