@import "@/styles/globals.scss";

.all-products-container {
  width: 100%;
  min-height: 80vh;
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
  text-align: center;

  &::before {
    @include backgroundImg;
    background-image: url(../../public/assets/img/palms-bg.webp);
  }

  h1 {
    @include blackDropShadow;
    @include blueOceanTitle;
    margin-bottom: 2rem;
  }

  .products-grid {
    @include responsiveGridSystem;
    padding: 0 2rem;
  }

  .pagination {
    margin: 2rem;

    button {
      font-size: fontSize("md");
      font-weight: fontWeight("light");
      font-family: fontName("roboto");
      color: color("darkOrange");
      border: none;
      background-color: transparent;
      cursor: pointer;

      &.active {
        font-weight: fontWeight("bold");
        text-decoration: underline;
      }
    }
  }
}
