@import "../../styles/globals.scss";

.shipping-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3vh;
  padding: 3rem 3rem 0 3rem;
  height: auto;
  overflow: hidden;

  .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: color("skyBlue");
    z-index: -1;
  }

  .texture {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 180%;
    opacity: 0.2;
    z-index: 0;
  }

  @include smallDesktops {
    padding: 5rem 7rem 0rem 7rem;
    flex-direction: row;
    gap: 0;
    height: auto;
  }

  @include largeDesktops {
    padding: 3rem 3rem 0 3rem;
  }

  &__item {
    position: relative;
    @include flexCenter(column);
    width: 100%;
    height: auto;
    cursor: default;
    z-index: 1;

    @include smallDesktops {
      flex-basis: calc(30% - 20px);
    }

    .wooden-signal {
      @include dropShadow;
      position: relative;
      width: 180%;
      height: auto;
      z-index: 0;

      @include tablet {
        width: 130%;
      }

      @include smallDesktops {
        width: 130%;
      }
    }

    &__content {
      position: absolute;
      text-align: center;
      margin-top: 5%;
      z-index: 20;
      color: color("darkOrange");

      @include tablet {
        margin-top: 4%;
      }

      @include smallDesktops {
        margin-top: -11%;
      }

      @include largeDesktops {
        margin-top: -16%;
      }

      h2 {
        font-family: fontName("galada"), sans-serif;
        font-size: fontSize("sm");
        text-align: center;

        @include tablet {
          font-size: fontSize("lg");
        }

        @include smallDesktops {
          font-size: fontSize("md");
        }

        @include largeDesktops {
          font-size: fontSize("lg");
        }
      }

      p {
        text-align: center;
        font-weight: fontWeight("bold");
        margin-top: 18%;
        max-width: 75%;
        margin-left: 10%;

        @include tablet {
          font-size: fontSize("md");
          max-width: 60%;
          margin-top: 20%;
          margin-left: 17%;
        }

        @include smallDesktops {
          font-size: fontSize("xs");
          margin-top: 7%;
          max-width: 75%;
          margin-left: 7%;
        }

        @include largeDesktops {
          margin-top: 14%;
          font-size: fontSize("sm");
        }
      }
    }
  }
}

#wave {
  transform: rotate(180deg);
  transition: 0.3s;

  .path1 {
    transform: translate(0, -30px);
    opacity: 1;
    width: 100%;

    @include smallDesktops {
      transform: translate(0, 0px);
    }
  }

  .path2 {
    transform: translate(0, 20px);
    opacity: 0.9;
    width: 100%;

    @include smallDesktops {
      transform: translate(0, 50px);
    }
  }
}
