@import "@/styles/globals.scss";

.custom-button {
  background: linear-gradient(90deg, color("skyBlue"), color("purpleBlue"));
  border: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  display: inline-block;
  @include boxShadow;
  position: relative;
  overflow: hidden;
  min-width: 170px;
  text-wrap: nowrap;

  p {
    margin: 0;
    color: color("white");
    font-size: fontSize("xs");
    font-family: fontName("decalotype");
    font-weight: fontWeight("bold");
    z-index: 3;
  }

  &:hover {
    background: linear-gradient(90deg, #0077cc, #00aaff);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 70%
    );
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

.secondary {
  z-index: 1;

  p {
    @include gradientText;
    color: color("white"); // Ensure the text is white by default
    transition: color 0.3s ease; // Add transition for text color change
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%; // Make it circular
    top: 50%; // Position at the center vertically
    left: 50%; // Position at the center horizontally
    transform: translate(-50%, -50%); // Center the element
    z-index: -2;
    width: 0; // Start with a width of 0
    height: 0; // Start with a height of 0
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.3),
      // Lighter color
      rgba(255, 255, 255, 0) 70% // Transparent color
    );
    transition: width 0.3s ease, height 0.3s ease; // Add transitions for width and height
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: color("white");
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  &:hover::after {
    opacity: 0;
  }

  &:hover p {
    color: color("white"); // Change the text color to white on hover
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover::before {
    width: 200%; // Expand the width to cover the entire button
    height: 200%; // Expand the height to cover the entire button
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: 6px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: white;
    opacity: 1;
    transition: all 0.6s ease-in-out;
  }

  &:hover::after {
    opacity: 0;
  }
}
