@import "./variables.scss";
@import "./resets.scss";
@import "./functions.scss";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// media queries mixins
@mixin mobile {
  @media (max-width: breakpoint(md)) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: breakpoint(sm)) {
    @content;
  }
}

@mixin smallDesktops {
  @media (min-width: breakpoint(md)) {
    @content;
  }
}

@mixin largeDesktops {
  @media (min-width: breakpoint(lg)) {
    @content;
  }
}

@mixin xxlDesktops {
  @media (min-width: breakpoint(lg)) {
    @content;
  }
}

@mixin boxShadow {
  -webkit-box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px -8px rgba(0, 0, 0, 0.75);
}

@mixin whiteDropShadow {
  filter: drop-shadow(2px 2px 1px rgba(156, 153, 153, 0.75));
}

@mixin blackDropShadow {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
}

@mixin brandTextandIconStyle {
  font-family: fontName("galada"), sans-serif;
  color: color("darkOrange");
  text-decoration: none;
  font-size: fontSize("md");
  font-weight: fontWeight("slim");
}

@mixin bgImageStyle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin gradientText {
  background: linear-gradient(to right, color("skyBlue"), color("purpleBlue"));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradientBackground {
  background: linear-gradient(to right, color("skyBlue"), color("purpleBlue"));
}
