@import "../styles/globals.scss";

body {
  .homepage {
    position: relative;

    .carousel-container {
      position: relative;
      height: 70vh;

      @include smallDesktops {
        height: 82vh;
      }
    }

    h1 {
      font-family: map-get($font-names, "galada"), sans-serif;
      color: color("skyBlue");
      z-index: 20;

      &:hover {
        cursor: pointer;
        color: color("warning");
      }
    }

    .latest-articles {
      height: 100vh;
      background-image: url(../public/assets/img/waveandpalm.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
