@import "../styles/globals.scss";

body {
  .homepage {
    position: relative;

    .hidden {
      display: none;
    }

    .intro-container {
      position: relative;
      height: 100vh;

      @include smallDesktops {
        height: 90vh;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../public/assets/img/tropical-wooden-bg.webp);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 400% auto;
      background-position: bottom center;
      z-index: -2;
      opacity: 0.2;

      @include smallDesktops {
        background-size: 130% auto;
      }
    }

    .contact {
      position: relative;
      height: auto;
      padding: 2rem 2rem 0 2rem;

      h2 {
        margin-bottom: 2rem;
        font-family: fontName("exodar");
        font-size: fontSize("md");
        color: color("darkOrange");
        max-width: 80vw;
        margin-inline: auto;
        @include whiteDropShadow;
        z-index: 40;

        @include smallDesktops {
          margin-bottom: 3rem;
          margin-left: 8rem;
        }
      }
    }
  }

  .location {
    height: 70vh;
    width: 100vh;
  }

  .company-presentation {
    position: relative;
    height: fit-content;
    padding: 2rem;
    @include flexCenter(column);
    background-color: color("white");
    width: 100%;
  }
}
