@import "../styles/globals.scss";

body {
  .homepage {
    position: relative;

    .carousel-container {
      position: relative;
      height: 70vh;

      @include smallDesktops {
        height: 90vh;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../public/assets/img/eee.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 130% auto;
      background-position: bottom center;
      z-index: -1;
      opacity: 0.5;
    }
  }
}
