// code for the terms & condition, about us, privacy policy pages, etc.

@import "@/styles/globals.scss";

.container {
  width: auto;
  min-height: 80vh;
  margin: 0 auto;
  padding: 4rem 0;
  @include flexCenter(column);
  position: relative;
  overflow: hidden;
  text-align: center;

  &::before {
    @include backgroundImg;
    background-image: url(../public/assets/img/flag-beach.webp);
  }

  &__header {
    text-align: center;
    z-index: 1;
  }

  a {
    font-family: fontName("roboto"), sans-serif;
    color: color("darkOrange");
  }

  ul {
    list-style: none;
    padding-inline-start: 0 !important;
  }

  h1,
  h2 {
    color: color("darkOrange");
    font-family: fontName("exodar"), cursive;
  }

  p,
  li {
    font-family: fontName("roboto"), sans-serif;
    max-width: 80vw;
    margin-inline: auto;
  }
}
