// Color Variables
$colors: (
  "skyBlue": rgba(0, 172, 193, 1),
  "purpleBlue": rgba(84, 58, 183, 1),
  "darkGrey": rgba(#3b3b3b, 0.85),
  "white": #fff,
  "warning": #ff0000,
  "darkOrange": #803202,
);

// Font Variables

@font-face {
  font-family: "Roboto-light";
  src: url(../public/assets/fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Exodar";
  src: url(../public/assets/fonts/Exodar.woff) format("truetype");
}

$font-names: (
  "roboto": "Roboto-light",
  "exodar": "Exodar",
);

$font-sizes: (
  "xs": 1rem,
  "sm": 1.3rem,
  "md": 1.5rem,
  "lg": 2rem,
  "xl": 2.5rem,
);

$font-weights: (
  "slim": 200,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "extra": 900,
);

// Media queries variables
$breakpoints: (
  "sm": 768px,
  "md": 992px,
  "lg": 1200px,
  "xl": 1440px,
);
